.form {
    margin-top: 200px;
}

.form-control {
    padding: 25px 10px;
}

.form-title {
    margin-bottom: 20px;
}

.submit-btn {
    padding: 8px 28px;
}

.form-submit-btn {
    margin-top: 20px;
}
